<div class="example-container mat-elevation-z8">
    <h1 style="text-align: center;"> Matches</h1>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

    <ng-container matColumnDef="IPL_season">
      <th mat-header-cell *matHeaderCellDef > IPL_season </th>
      <td mat-cell *matCellDef="let row " >  
      <a fxFlexFill [routerLink]="'/pointstable/'+ row.season_year" style="text-decoration: none;" class="mat-row-link"> {{row.season_year}}</a></td>
    </ng-container>

    <ng-container matColumnDef="Match_Details">
      <th mat-header-cell *matHeaderCellDef > Match_Details </th>
      <td mat-cell *matCellDef="let row ">
        <a fxFlexFill [routerLink]="'/matches/'+ row.match_id" style="text-decoration: none;" class="mat-row-link">
          <pre>
            {{row.team1 + ' VS ' + row.team2}}
            {{row.venue_name + ', ' + row.city_name}}
          </pre>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="Results">
      <th mat-header-cell *matHeaderCellDef > Results </th>
      <td mat-cell *matCellDef="let row "  > {{row.winner + ' won by ' + row.win_margin + " " + row.win_type}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> 
    <tr mat-row *matRowDef="let row; columns: displayedColumns"> </tr> 
  </table>

  <mat-paginator [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      aria-label="Select page">
  </mat-paginator>
</div>