<!--<p>matches works!</p>%
<p>{{ products | json }}</p> -->
<!--
<div class="container">    
    <h1> Match INFO </h1>
<div>
    <table class="table table-striped">  
      <thead>  
          <tr>  
            <th>match_id</th>
            <th>season_year</th>
            <th>team1</th> 
            <th>team2</th>
            <th>winner</th>
            <th>win_type</th>
            <th>win_margin</th>
            <th>venue_name</th>
            <th>city_name</th>
          </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let student of products">  
          <td>{{ student.match_id }}</td>  
          <td>{{ student.season_year}}</td>  
          <td>{{ student.team1 }}</td>  
          <td>{{ student.team2 }}</td>  
          <td>{{ student.winner }}</td>  
          <td>{{ student.win_type }}</td>  
          <td>{{ student.win_margin }}</td>  
          <td>{{ student.venue_name }}</td>
          <td>{{ student.city_name }}</td>  
        </tr>  
      </tbody>  
    </table> 
    </div>
  </div>
  -->


  <div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" class="demo-table" >

      <ng-container matColumnDef="IPL_season">
        <th mat-header-cell *matHeaderCellDef > IPL_season </th>
        <td mat-cell *matCellDef="let row " > {{row.season_year}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Match_Details">
        <th mat-header-cell *matHeaderCellDef > Match_Details </th>
        <td mat-cell *matCellDef="let row ">
          <a fxFlexFill [routerLink]="'/matches/'+ row.match_id" style="text-decoration: none;" class="mat-row-link">
            <pre>
              {{row.team1 + ' VS ' + row.team2}}
              {{row.venue_name + ', ' + row.city_name}}
            </pre>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="Results">
        <th mat-header-cell *matHeaderCellDef > Results </th>
        <td mat-cell *matCellDef="let row "  > {{row.winner + ' won by ' + row.win_margin + " " + row.win_type}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> 
      <tr mat-row *matRowDef="let row; columns: displayedColumns"> </tr> 
    </mat-table>
  
    <mat-paginator [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        aria-label="Select page">
    </mat-paginator>
  </div>
  
  